<!DOCTYPE html>
    <html lang="zh">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <title>求识管理后台</title>
            <link rel="shortcut icon" href="/static/admin/img/logo.jpg" type="image/x-icon">
            <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" />
            <link href="/static/admin/css/font-awesome.min.css" rel="stylesheet" />
            <link href="/static/admin/css/weather-icons.min.css" rel="stylesheet" />
            <link id="beyond-link" href="/static/admin/css/beyond.min.css" rel="stylesheet" type="text/css" />
        </head>

        <body>
            <!-- Loading -->
            <div class="loading-container">
                <div class="loader"></div>
            </div>
            <!-- /Loading -->

            <!-- Navbar -->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="navbar-container">
                        <!-- Navbar Barnd -->
                        <div class="navbar-header pull-left">
                            <a href="#" class="navbar-brand">
                                <small style="line-height: 40px;">管理后台</small>
                            </a>
                        </div>
                        <!-- /Navbar Barnd -->
                        <!-- Sidebar Collapse -->
                        <div class="sidebar-collapse" id="sidebar-collapse">
                            <i class="collapse-icon fa fa-bars"></i>
                        </div>
                        <!-- /Sidebar Collapse -->
                        <!-- Account Area and Settings --->
                        <div class="navbar-header pull-right">
                            <div class="navbar-account">
                                <ul class="account-area">
                                    <li>
                                        <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                            <div class="avatar" title="View your public profile">
                                                <img src="/static/admin/img/logo.jpg">
                                            </div>
                                            <section style="min-width: 70px;">
                                                <h2><span class="profile"><span>{:session('admin.nickname')}</span></span></h2>
                                            </section>
                                        </a>
                                        <!--Login Area Dropdown-->
                                        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                            <li class="username"><a>梦中程序员</a></li>
                                            <li class="email"><a>leruge@163.com</a></li>
                                            <!--Avatar Area-->
                                            <li>
                                                <div class="avatar-area">
                                                    <img src="/static/admin/img/logo.jpg" class="avatar">
                                                    <span class="caption">个人头像</span>
                                                </div>
                                            </li>
                                            <!--Avatar Area-->
                                            <li class="edit">
                                                <a href="profile.html" class="pull-left">个人资料</a>
                                                <a href="#" class="pull-right">个人设置</a>
                                            </li>
                                            <!--Theme Selector Area-->
                                            <li class="theme-area">
                                                <ul class="colorpicker" id="skin-changer">
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" rel="/static/admin/css/skins/blue.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="/static/admin/css/skins/azure.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="/static/admin/css/skins/teal.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="/static/admin/css/skins/green.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" rel="/static/admin/css/skins/orange.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" rel="/static/admin/css/skins/pink.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="/static/admin/css/skins/darkred.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="/static/admin/css/skins/purple.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="/static/admin/css/skins/darkblue.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#585858;" rel="/static/admin/css/skins/gray.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#474544;" rel="/static/admin/css/skins/black.min.css"></a></li>
                                                    <li><a class="colorpick-btn" href="#" style="background-color:#001940;" rel="/static/admin/css/skins/deepblue.min.css"></a></li>
                                                </ul>
                                            </li>
                                            <!--/Theme Selector Area-->
                                            <li class="dropdown-footer">
                                                <button id="signout">退出</button>
                                            </li>
                                        </ul>
                                        <!--/Login Area Dropdown-->
                                    </li>
                                    <!-- /Account Area -->
                                    <!--Note: notice that setting div must start right after account area list.
                                    no space must be between these elements-->
                                    <!-- Settings -->
                                </ul>
                                <div class="setting">
                                    <a id="btn-setting" title="Setting" href="#">
                                        <i class="icon glyphicon glyphicon-cog"></i>
                                    </a>
                                </div>
                                <div class="setting-container">
                                    <label>
                                        <input type="checkbox" id="checkbox_fixednavbar">
                                        <span class="text">头部固定</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" id="checkbox_fixedsidebar">
                                        <span class="text">菜单固定</span>
                                    </label>
                                </div>
                                <!-- Settings -->
                            </div>
                        </div>
                        <!-- /Account Area and Settings -->
                    </div>
                </div>
            </div>
            <!-- /Navbar -->

            <!-- Main Container -->
            <div class="main-container container-fluid">
                <!-- Page Container -->
                <div class="page-container">

                    <!-- Page Sidebar -->
                    <div class="page-sidebar" id="sidebar">
                        <ul class="nav sidebar-menu">
                            <li class="active">
                                <a href="index.html">
                                    <i class="menu-icon glyphicon glyphicon-home"></i>
                                    <span class="menu-text">后台首页</span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html" class="menu-dropdown">
                                    <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                                    <span class="menu-text">栏目管理</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <ul class="submenu">
                                    <li>
                                        <a href="{:url('admin/cate/list')}">
                                            <span class="menu-text">栏目列表</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:url('admin/cate/add')}">
                                            <span class="menu-text">栏目添加</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu-dropdown">
                                    <i class="menu-icon glyphicon glyphicon glyphicon-book"></i>
                                        <span class="menu-text">文章管理</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">
                                            <span class="menu-text">文章列表</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="menu-text">文章添加</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu-dropdown">
                                    <i class="menu-icon glyphicon glyphicon glyphicon-user"></i>
                                    <span class="menu-text">会员管理</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">
                                            <span class="menu-text">会员列表</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="menu-text">会员添加</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu-dropdown">
                                    <i class="menu-icon glyphicon glyphicon glyphicon-send"></i>
                                    <span class="menu-text">管理员管理</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <ul class="submenu">
                                    <li>
                                        <a href="{:url('admin/admin/list')}">
                                            <span class="menu-text">管理员列表</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:url('admin/admin/add')}">
                                            <span class="menu-text">管理员添加</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{:url('admin/system/index')}">
                                    <i class="menu-icon glyphicon glyphicon-cog"></i>
                                    <span class="menu-text">系统设置</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Page Sidebar -->