<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--底部联系方式-->
<div class="but">
    <div class="but_cen">
        <ul>
            <li class="but_right">
                <p>咨询电话：</p>
                <p style="font-size: 32px;">400-4000-400</p>
                <p style="margin-top: 20px;">周一至周五：09:00~17:00</p>
                <p>商务合作：010—82481014</p>
            </li>
            <li class="img_left"><img src="/static/index/images/ma.png">
                <p style="text-align: center; ">移动端</p>
            </li>
            <li class="img_right"><img src="/static/index/images/ma.png">
                <p style="text-align: center; ">微信端</p>
            </li>
            <li class="but_left">
                <a>关于我们</a>
                <a>线下活动</a>
                <a>资料下载</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>