<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>廉镜</title>
    <meta name="keywords" content="廉镜" />
    <meta name="description" content="廉镜" />
        <link key="index" href="/static/index/css/index.css" rel="stylesheet" type="text/css" />
		<link key="index" href="/static/index/css/header.css" rel="stylesheet" type="text/css" />
		<link key="index" href="/static/index/css/footer.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/index/css/index1.css"/> <!-- 轮播图-->
    <meta name="msvalidate.01" content="C373D4FCC6CFF0B05DF37CCA02F16C6F" />
</head>
<body>
<!--			头部-->
			{include file="pub/heater"}

		<div class="sousuo">
			<!--<div clas="log">
				<img src="/static/index/images/TIM图片20190509143437.png">
			</div>	-->
			<div class="box">
				<div class="box_input">
					<input type="text" name="123">
					<a href="#">搜索</a>
				</div>
			</div>
		</div>
     <!--分类导航-->
     <div class="course_main">
     	   <div class="course_screen">

     	   	<div class="course_left">
			   <div class="course_left_top">
			   		课程分类
			   </div>
			   <div class="course_left_cen">

			   		<div class="w clearfix" style="position:relative;">
        <!-- banner上面浮层 -->
        <div class="cat_wrap">
            <div class="cat_header">
                <div class="cat_list">
                    <div class="float for1">
                        <ul class="clearfix">
                            <li>专业课</li>
                        </ul>
                    </div>
                    <div class="float for2">
                        <ul class="clearfix">
                            <li>公开课</li>
                        </ul>
                    </div>
                    <div class="float for3">
                        <ul class="clearfix">
                            <li>精品课</li>
                        </ul>
                    </div>
                    <div class="float for4">
                        <ul class="clearfix">
                            <li>通识讲堂</li>
                        </ul>
                    </div>
                    <div class="float for5">
                        <ul class="clearfix">
                            <li>名家领读</li>
                        </ul>
                    </div>
                    <div class="float for6">
                        <ul class="clearfix">
                            <li>职场精英</li>
                        </ul>
                    </div>
                    <div class="float for7">
                        <ul class="clearfix">
                            <li>出国留学</li>
                        </ul>
                    </div>
                    <div class="float for8">
                        <ul class="clearfix">
                            <li>研究生考试</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- banner浮层滑动显示弹框 -->
            <div class="cat_subcont">
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                           <!-- <h3><a href="javascript:void(0);">云计算1</a></h3>-->
                            <ul class="clearfix">
                                <li><a href="javascript:void(0);">科学研究</a></li>
                                <li><a href="javascript:void(0);">工程技术</a></li>
                                <li><a href="javascript:void(0);">农业技术</a></li>
                                <li><a href="javascript:void(0);">医药卫生</a></li>
                                <li><a href="javascript:void(0);">金融财会</a></li>
                                <li><a href="javascript:void(0);">文学艺术</a></li>
                                <li><a href="javascript:void(0);">新闻出版</a></li>
                                <li><a href="javascript:void(0);">体育文化</a></li>
                                <li><a href="javascript:void(0);">图书馆员</a></li>
                                <li><a href="javascript:void(0);">教学人员</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <!--<h3><a href="javascript:void(0);">云计算2</a></h3>-->
                            <ul class="clearfix">
                                <li><a href="javascript:void(0);">创业选择</a></li>
                                <li><a href="javascript:void(0);">个人修养</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
<!--                            <h3><a href="javascript:void(0);">云计算3</a></h3>-->
                            <ul class="clearfix">
                                <li><a href="javascript:void(0);">《云计算基础架构》</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
<!--                            <h3><a href="javascript:void(0);">云计算4</a></h3>-->
                            <ul class="clearfix">
                                <li><a href="javascript:void(0);">传统文化</a></li>
                                <li><a href="javascript:void(0);">文化礼仪</a></li>
                                <li><a href="javascript:void(0);">国学</a></li>
                                <li><a href="javascript:void(0);">书画艺术</a></li>
                                <li><a href="javascript:void(0);">名人经传</a></li>
                                <li><a href="javascript:void(0);">美食天下</a></li>
                                <li><a href="javascript:void(0);">中国记忆</a></li>
                                <li><a href="javascript:void(0);">经营培训</a></li>
                                <li><a href="javascript:void(0);">环球视野</a></li>
                                <li><a href="javascript:void(0);">旅游地理</a></li>
                                <li><a href="javascript:void(0);">军事观察</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <ul class="clearfix">
                                <li><a href="javascript:void(0);">平语近人</a></li>
                                <li><a href="javascript:void(0);">党政学习</a></li>
                                <li><a href="javascript:void(0);">政策指导</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <ul class="clearfix">
                                <li><a href="javascript:void(0);">技能提升</a></li>
                                <li><a href="javascript:void(0);">专业能力</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <ul class="clearfix">
                                <li><a href="javascript:void(0);">考研政治</a></li>
                                <li><a href="javascript:void(0);">考研英语</a></li>
                                <li><a href="javascript:void(0);">考研数学</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="cat_sublist">
                    <!-- 浮层左边列表 -->
                    <div class="fore1">
                        <div class="fore_list">
                            <ul class="clearfix">
                                <li><a href="javascript:void(0);">面试</a></li>
                                <li><a href="javascript:void(0);">行测</a></li>
                                <li><a href="javascript:void(0);">申论</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
			   </div>

		</div>






     	   </div>
     	   <div class="course_menu">
     	   		<div class="course_cen">
     	   			<ul>
     	   				<li><a href="#">拼团商城</a></li>
     	   				<li><a href="#">微课</a></li>
     	   				<li><a href="#">慕课</a></li>
     	   				<li><a href="#">学习圈</a></li>
     	   				<li><a href="#">五一活动</a></li>
     	   			</ul>
     	   		</div>
     	   </div>
     	   <div class="lb">
     	   <div class="pb-carouselWarp demo1">
			<ul class="pb-carousel">
				<li class="pb-this"><img src="/static/index/img/1.jpg" alt="" /></li>
				<li ><img src="/static/index/img/649785dd2f331335616f1e4e4bdf2a55.jpg" alt=""/></li>
				<li><img src="/static/index/img/947789b0b3d25d7f6e3a4dd6bcee4729.png" alt=""/></li>
				<li><img src="/static/index/img/9f97b49ba6be993bdff2618c3da126c6.jpg" alt=""/></li>
				<li><img src="/static/index/img/9f97b49ba6be993bdff2618c3da126c6.jpg" alt=""/></li>
				<li><img src="/static/index/img/banner3.jpg" alt=""></li>
			</ul>
			<ul class="pb-carousel-ind">
				<li class="pb-this"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		</div>

     </div>

     <!--人气排行-->
     <div class="rq">
     	   <div class="rq_top">
     	   	<p><img src="/static/index/images/gang.png">人气排行   <a><img src="/static/index/images/huan.png">换一换</a></p>
     	   </div>
     	   <div class="rq_cen">
     	   	    <ul>
     	   	    	<li>
						<img src="/static/index/images/23a6ca0d-67f2-4f73-b622-e32176a23236@r_1280w_1280h.jpg">
						<div class="rq_font">
							<p>漫讲廉政
							</p>
							<p>房成军　2019-5-5</p>
							<p class="biao"><img src="/static/index/images/bo.png" >132</p>
						</div>
     	   	    	</li>
     	   	    	<li>
						<img src="/static/index/img/3.jpg">
						<div class="rq_font">
							<p>漫讲廉政
							</p>
							<p>房成军　2019-5-5</p>
							<p class="biao"><img src="/static/index/images/bo.png" >132</p>
						</div>
     	   	    	</li>
     	   	    	<li>
						<img src="/static/index/img/4.jpg">
						<div class="rq_font">
							<p>漫讲廉政
							</p>
							<p>房成军　2019-5-5</p>
							<p class="biao"><img src="/static/index/images/bo.png" >132</p>
						</div>
     	   	    	</li>
     	   	    	<li>
						<img src="/static/index/img/5.jpg">
						<div class="rq_font">
							<p>漫讲廉政
							</p>
							<p>房成军　2019-5-5</p>
							<p class="biao"><img src="/static/index/images/bo.png" >132</p>
						</div>
     	   	    	</li>
     	   	    	<li></li>
     	   	    	<li></li>
     	   	    </ul>
     	   </div>
     </div>

          <!--通识课堂-->
     <div class="rq">
     	   <div class="rq_top">
     	   	<p><img src="/static/index/images/gang.png">通识课堂
     	   	 <a><img src="/static/index/images/huan.png">换一换</a>
     	   	</p>
     	   </div>
     	   <div class="rq_cen">
     	   	    <ul>
     	   	    	<li>
						<img src="/static/index/images/23a6ca0d-67f2-4f73-b622-e32176a23236@r_1280w_1280h.jpg">
						<div class="rq_font">
							<p>漫讲廉政
							</p>
							<p>房成军　2019-5-5</p>
							<p class="biao"><img src="/static/index/images/bo.png" >132</p>
						</div>
     	   	    	</li>
     	   	    	<li>
						<img src="/static/index/img/2.jpg">
						<div class="rq_font">
							<p>漫讲廉政
							</p>
							<p>房成军　2019-5-5</p>
							<p class="biao"><img src="/static/index/images/bo.png" >132</p>
						</div>
     	   	    	</li>
     	   	    	<li>
						<img src="/static/index/img/3.jpg">
						<div class="rq_font">
							<p>漫讲廉政
							</p>
							<p>房成军　2019-5-5</p>
							<p class="biao"><img src="/static/index/images/bo.png" >132</p>
						</div>
     	   	    	</li>
     	   	    	<li>
						<img src="/static/index/img/4.jpg">
						<div class="rq_font">
							<p>漫讲廉政
							</p>
							<p>房成军　2019-5-5</p>
							<p class="biao"><img src="/static/index/images/bo.png" >132</p>
						</div>
     	   	    	</li>
     	   	    	<li>
						<img src="/static/index/img/5.jpg">
						<div class="rq_font">
							<p>漫讲廉政
							</p>
							<p>房成军　2019-5-5</p>
							<p class="biao"><img src="/static/index/images/bo.png" >132</p>
						</div>
     	   	    	</li>
     	   	    	<li></li>
     	   	    </ul>
     	   </div>
     </div>

	<!--名家领读-->
	<div class="mj">

		<div class="mj_top">
			<div class="mj_top_left">
				<p><img src="/static/index/images/gang.png">名家领读</p>
			</div>

			<div class="mj_top_right">
				<ul>
					<li><span onClick="changeDisplay(1)"><h3>平语近人</h3></span></li>
					<li><span onClick="changeDisplay(2)"><h3>党政学习</h3></span></li>
					<li><span onClick="changeDisplay(3)"><h3>政策指导</h3></span></li>
				</ul>
			</div>
		</div>

     	   <!--轮播图-->
     	   <div class="mj_lb">

		   </div>

		<!-- 平语近人-->
		<div  class="mj_right"   id="pyjr">
			<div class="mj_right_top">
				<p><img src="/static/index/images/gang.png">平语近人</p>
			</div>
			<div class="mj_right_btn">
				<ul>
					<li>
						<img src="/static/index/img/2.jpg">
						<p>漫讲廉政</p>
						<p>房呈军　2019-5-5</p>
					</li>
					<li>
						<img src="/static/index/img/4.jpg">
						</br>
						<p>漫讲廉政</p>
						<p>房呈军　2019-5-5</p>
					</li>
					<li>
						<img src="/static/index/img/5.jpg">
						</br>
						<p>漫讲廉政</p>
						<p>房呈军　2019-5-5</p>
					</li>
				</ul>
			</div>
		</div>

           <!--党政学习-->
           <div  class="mj_right" style="display:none;" id="dzxx">
     	   		<div class="mj_right_top">
     	   			 <p><img src="/static/index/images/gang.png">党政学习</p>
     	   		</div>
     	   		<div class="mj_right_btn">
     	   			  <ul>
     	   	    		<li> <img src="/static/index/img/2.jpg">
     	   	    			<p>漫讲廉政</p>
     	   	    			<p>房呈军　2019-5-5</p>
     	   	    		</li>
     	   	    		<li> <img src="/static/index/img/4.jpg">
     	   	    		</br>
     	   	    		 <p>漫讲廉政</p>
     	   	    		<p>房呈军　2019-5-5</p>
     	   	    		</li>
     	   	    		<li> <img src="/static/index/img/5.jpg">
     	   	    		</br>
     	   	    		<p>漫讲廉政</p>
     	   	    		<p>房呈军　2019-5-5</p>
     	   	    		</li>
     	   	    	</ul>
     	   		</div>
     	   </div>
           <!--政策指导-->
           <div name="msg_3"  class="mj_right" style="display:none;" id="zczd">
     	   		<div class="mj_right_top">
     	   			 <p><img src="/static/index/images/gang.png">政策指导</p>
     	   		</div>
     	   		<div class="mj_right_btn">
     	   			  <ul>
     	   	    		<li> <img src="/static/index/img/2.jpg">

     	   	    		<p>漫讲廉政</p>
     	   	    		<p>房呈军　2019-5-5</p>
     	   	    		</li>
     	   	    		<li> <img src="/static/index/img/4.jpg">
     	   	    		</br>
     	   	    		 <p>漫讲廉政</p>
     	   	    		<p>房呈军　2019-5-5</p>
     	   	    		</li>
     	   	    		<li> <img src="#">
     	   	    		</br>
     	   	    		<p>漫讲廉政</p>
     	   	    		<p>房呈军　2019-5-5</p>
     	   	    		</li>
     	   	    	</ul>
     	   		</div>
     	   </div>
     </div>

     <!--校企合作-->
     <div class="school">
     		<div class="school_top">
     			 <p>校企合作</p>
     		</div>
     		<div class="school_btn">
     			<ul>
     				<li> <img src="/static/index/images/b21bb051f81986183a28291b47ed2e738ad4e6c6.jpg"></li>
     				<li> <img src="/static/index/images/b8389b504fc2d56260d17a78e51190ef77c66c4e.jpg"></li>
     				<li> <img src="#"></li>
     				<li></li>
     			</ul>
     		</div>
     </div>

<!--d底部-->
		{include file="pub/footer"}
</body>

	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script src="/static/index/js/carousel.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		carousel(
			$('.demo1'),	//必选， 要轮播模块(id/clas/tagname均可)，必须为jQuery元素
			{
				type: 'leftright',	//可选，默认左右(leftright) - 'leftright' / 'updown' / 'fade' (左右/上下/渐隐渐现)
				arrowtype: 'move',	//可选，默认一直显示 - 'move' / 'none'	(鼠标移上显示 / 不显示 )
				autoplay: true,	//可选，默认true - true / false (开启轮播/关闭轮播)
				time:3000	//可选，默认3000
			}
		);
		
		carousel(
			$('.demo2'),	//必选， 要轮播模块(id/clas/tagname均可)，必须为jQuery元素
			{
				type: 'fade',	//可选，默认左右(leftright) - 'leftright' / 'updown' / 'fade' (左右/上下/渐隐渐现)
				arrowtype: 'move',	//可选，默认一直显示 - 'move' / 'none'	(鼠标移上显示 / 不显示 )
				autoplay: true,	//可选，默认true - true / false (开启轮播/关闭轮播)
				time:4000	//可选，默认3000
			}
		);

		function changeDisplay(num){
			console.log(num);
			if (num == 1) { // 点击平语近人
				$('#pyjr').show();
				$('#dzxx').hide();
				$('#zczd').hide();
			} else if (num == 2) { // 点击党政学习
				$('#pyjr').hide();
				$('#dzxx').show();
				$('#zczd').hide();
			} else if (num == 3) { // 点击政策指导
				$('#pyjr').hide();
				$('#dzxx').hide();
				$('#zczd').show();
			}
		}

	</script>
	
    <script type="text/javascript">
    	//banner左侧内容栏
		$(function(){
		    var thisTime;
		    //鼠标离开左侧内容栏
		    $('.cat_wrap .cat_list .float').mouseleave(function(even){
		        thisTime = setTimeout(thisMouseOut,1000);
		    });
		    //鼠标点击左侧内容栏   滑动出弹层
		    $('.cat_wrap .cat_list .float').mouseenter(function(){
		        $(this).addClass("active").siblings().removeClass("active");
		        clearTimeout(thisTime);
		        var thisUB = $('.cat_wrap .cat_list .float').index($(this));
		        if($.trim($('.cat_subcont .cat_sublist').eq(thisUB).html()) != ""){
		            $('.cat_subcont').addClass('active');
		            $('.cat_sublist').hide();
		            $('.cat_sublist').eq(thisUB).show();
		        }else{
		            $('.cat_subcont').removeClass('active');
		        }
		    });
		    //函数——执行鼠标离开左侧内容栏的动作
		    function thisMouseOut(){
		        $('.cat_subcont').removeClass('active');
		        $('.cat_wrap .cat_list .float').removeClass('active');
		    }
		    $('.cat_subcont').mouseenter(function(){
		        clearTimeout(thisTime);
		        $('.cat_subcont').addClass('active');
		    });
		    $('.cat_subcont').mouseleave(function(){
		        $('.cat_subcont').removeClass('active');
		        $('.cat_wrap .cat_list .float').removeClass('active');
		    });
		});     
    </script>

</html>