<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开通后超级会员</title>
    <link key="svip" href="/static/index/css/svip.css" rel="stylesheet" type="text/css" />
    <link key="svip" href="/static/index/css/header.css" rel="stylesheet" type="text/css" />
    <link key="svip" href="/static/index/css/footer.css" rel="stylesheet" type="text/css" />
</head>
<body>
        {include file="pub/heater"}

        <div class="vip_top"></div>
        <div class="vip_but"></div>

        {include file="pub/footer"}
</body>
</html>