<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习中心</title>
    <link key="index" href="/static/index/css/study.css" rel="stylesheet" type="text/css" />
    <link key="index" href="/static/index/css/header.css" rel="stylesheet" type="text/css" />
    <link key="index" href="/static/index/css/footer.css" rel="stylesheet" type="text/css" />
</head>
<body>
        {include file="pub/heater"}
        <div class="study">
            <div class="study_top">
                <ul>
                    <li><a href="#">全部</a></li>
                    <li><a href="#">正在学习</a></li>
                    <li><a href="#">已结束</a></li>
                    <li><a href="#">我的收藏</a></li>
                    <li><a href="#">我的点赞</a></li>
                </ul>
            </div>
            <!--            视频-->
            <div class="study_but">
                <div class="study_but_left"></div>
                <div class="study_but_right">
                    <div class="study_sk">
                        <ul>
                            <li>神奇的世界</li>
                            <li>2课时</li>
                        </ul>
                        <a href="#">立即上课</a>
                    </div>
                    <div class="study_but_right_timg">
                        <span>2019.06.06</span>
                    </div>
                </div>
            </div>

            <div class="study_but">
                <div class="study_but_left"></div>
                <div class="study_but_right">
                    <div class="study_sk">
                        <ul>
                            <li>神奇的世界</li>
                            <li>2课时</li>
                        </ul>
                        <a href="#">立即上课</a>
                    </div>
                    <div class="study_but_right_timg">
                        <span>2019.06.06</span>
                    </div>
                </div>
            </div>

            <div class="study_but">
                <div class="study_but_left"></div>
                <div class="study_but_right">
                    <div class="study_sk">
                        <ul>
                            <li>神奇的世界</li>
                            <li>2课时</li>
                        </ul>

                    </div>
                    <div class="study_but_right_timg">
                        <span>2019.06.06</span>
                        <a href="#">领取证书</a>
                    </div>
                </div>
            </div>

        </div>

        {include file="pub/footer"}
</body>
</html>