<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资讯</title>
    <link key="index" href="/static/index/css/zx.css" rel="stylesheet" type="text/css" />
    <link key="index" href="/static/index/css/header.css" rel="stylesheet" type="text/css" />
    <link key="index" href="/static/index/css/footer.css" rel="stylesheet" type="text/css" />
</head>
<body>
        {include file="pub/heater"}

        <div class="zx">
            <div class="zx_left">
                <div class="zx_left_top"><p>通知公告</p></div>
                <div class="zx_left_but">
                    <ul>
                        <li>政策文件</li>
                        <li>政策文件</li>
                        <li>政策文件</li>
                    </ul>
                </div>
            </div>
            <div class="zx_right">
                <div class="zx_right_top">
                    <ul>
                        <li>纪检监察干部话初心担使命轻抚胸前的党徽 <span>2019-06-12 9:00</span></li> <hr>
                        <li>纪检监察干部话初心担使命轻抚胸前的党徽 <span>2019-06-12 9:00</span></li> <hr>
                        <li>纪检监察干部话初心担使命轻抚胸前的党徽 <span>2019-06-12 9:00</span></li> <hr>
                    </ul>
                </div>
                <div class="zx_right_but">
                    <p>共2条数据　共1页 <a href="#">上一页</a> <a href="#">上一页</a></p>
                </div>
            </div>
        </div>

        {include file="pub/footer"}
</body>
</html>