<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程</title>
    <link key="index" href="/static/index/css/clas.css" rel="stylesheet" type="text/css" />
    <link key="index" href="/static/index/css/header.css" rel="stylesheet" type="text/css" />
    <link key="index" href="/static/index/css/footer.css" rel="stylesheet" type="text/css" />
</head>
<body>
        {include file="pub/heater"}
        <div class="clas">
            <div class="clas_top">
                <ul>
                    <li><a href="#">默认</a></li>
                    <li><a href="#">开班时间</a></li>
                    <li><a href="#">关班时间</a></li>
                    <li><a href="#">有证书</a></li>
                </ul>
            </div>
<!--            视频-->
            <div class="clas_but">
                <div class="clas_but_left"></div>
                <div class="clas_but_right">
                    <div class="clas_sk">
                        <ul>
                            <li>神奇的世界</li>
                            <li>2课时</li>
                        </ul>
                        <a href="#">立即上课</a>
                    </div>
                    <div class="clas_but_right_timg">
                        <span>2019.06.06</span>
                    </div>
                </div>
            </div>

            <div class="clas_but">
                <div class="clas_but_left"></div>
                <div class="clas_but_right">
                    <div class="clas_sk">
                        <ul>
                            <li>神奇的世界</li>
                            <li>2课时</li>
                        </ul>
                        <a href="#">立即上课</a>
                    </div>
                    <div class="clas_but_right_timg">
                        <span>2019.06.06</span>
                    </div>
                </div>
            </div>

            <div class="clas_but">
                <div class="clas_but_left"></div>
                <div class="clas_but_right">
                    <div class="clas_sk">
                        <ul>
                            <li>神奇的世界</li>
                            <li>2课时</li>
                        </ul>
                        <a href="#">立即上课</a>
                    </div>
                    <div class="clas_but_right_timg">
                        <span>2019.06.06</span>
                    </div>
                </div>
            </div>


        </div>


        {include file="pub/footer"}
</body>
</html>