.but{
    height: 260px;
    background: gray;
    margin-top: 80px;
    background: #FFFFFF;
}
.but_cen{
    width: 1200px;
    height: 99%;
    margin: 0 auto;
    border:  1px solid #FFFFFF;
}
.but_cen ul{
    margin-top: 60px;
}
.but_cen li{
    float: right;
    list-style: none;
}
.but_left{
    float: left!important;
}
.but_left a:hover{
    border-bottom: 2px solid #4DA742;
}
.but_left a{
    display: block;
    margin-bottom: 20px;
    float:left;
    padding: 0 18px;
    /*color: #fff;*/
}
.img_left{
    width: 126px;
    height: 126px;
    margin-right: 200px;
}
.img_left img{
    width: 100%;
    height: 100%;
}
.img_right{
    width: 126px;
    height: 126px;
    margin-right: 30px;
}
.img_right img{
    width: 100%;
    height: 100%;
}
.but_right p{
    /*color: #FFF*/
}
